Title: <input class="title" type="text" value="<%= project.get('title') %>"></input>
<br>
Description: <input class="description" type="text" value="<%= project.get('description') %>"></input>
<br><br>
Tasks: <% _.each(tasks, function(task) { %>
  <!-- <div class="task-show-link" data-id="<%= task.id %>"><a href="/tasks/<%= task.id %>"><%= task.get('title') %></a></div> -->
  
  <div class="task-show-link" data-id="<%= task.id %>"><input type="text" value="<%= task.get('title') %>"></input></div>
  
  <% }); %>