Add Team Members:
<form>

  <input type="hidden" name="team_id" value="<%=team.get('id')%>">
  
  <!-- <select name="user_id">
    <option></option>
  <% Crossedout.users.each(function(user) { %>
    <option id="team_user_id" value="<%=user.get('id')%>"><%=user.get('username')%></option>
  <% }) %>
  </select> -->
  
  
  <% Crossedout.users.each(function(user) { %>
  <input type="checkbox" id="team_user_id" value="<%=user.get('id')%>"><%=user.get('username')%>
  <% }) %>
  
  
  <!-- <label for="team_user_id">Member</label>
  <input 
    id="team_user_id"
    name="team[members][0][user_id]"
    type="text">
  <br> -->
  
  <!-- <label for="team_users">People</label>
  <input 
    id="team_users"
    name="team[email]" 
    type="text">
  <br>
  <button class="invite-user-button">Invite</button> -->
    
  <input type="submit" value="Add Member">
</form>
