<!-- <div class="dropdown">
  <div class="dropdown">
    <a data-toggle="dropdown" href="#"><h3>My Teams</h3></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <div class="new-team-link"><a>Create New Team</a></div>
      </ul>
  </div>
</div> -->
<div class="sidebar-heading"><h5>
  
    <div class="maximize">
    <button>
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    </div>
  
    <div class="my-teams-header">MY TEAMS</div>
  
  </h5>
  
</div>
<% current_user.teams().each(function(team) { %>
  <div class="team-show-bar">
    
    
    
    <div class="team-show-link" data-id="<%= team.id %>"><a><%= team.escape("title") %></a></div>
    
    
    <div class="btn-group">
   
      <button type="button" class="btn btn-default btn-group-sm" data-toggle="dropdown">
  
        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="#" class="invite-manage-members" data-id="<%=team.id%>">Invite and Manage Members</a></li>
        <li><a href="#" class="edit-workspace-settings" data-id="<%=team.id%>">Edit Workspace Settings</a></li>
        <li><a href="#" class="leave-team" data-id="<%=team.id%>">Remove Me From <%=team.escape("title")%></a></li>
        <li class="divider"></li>
        <li><a href="#" class="show-tags" data-id="<%=team.id%>">Show Tags List</a></li>
        <li><a href="#" class="show-archived-projects" data-id="<%=team.id%>">Show Archived Projects</a></li>
      </ul>
    </div>
    
    
    
      
  </div>
  
  
  <!-- <button class="btn btn-default btn-group-sm">
    <span class="glyphicon glyphicon-cog"></span>
  </button> -->

    
    
    

<% }); %>
<div class="sidebar-link"><a href="" class="new-team-link">+Create New Team</a></div>