<h1><%= current_user.escape("username")%>'s Teams</h1>
<% current_user.teams().each(function(team) { %>
  <div class="team-show-link" data-id="<%= team.id %>"><%= team.escape("title") %></div>
    <% team.projects().each(function(project) { %>
      <a href="" class="team-project-link" data-team-id="<%=team.id%>" data-project-id="<%=project.id%>"><%=project.escape("title")%><a>
      <% }); %>
  <br>
  <button class="team-leave-button" data-id="<%= team.id %>">Leave team</button>
  <br><br>
<% }); %>

