<h1>Task</h1>

<% if (task) { %> 
Due Date: <input type="datetime" class="datepicker" name="somedatafield" value="<%= task.get('due_date') %>" />

<div class="task" data-id="<%= task.get('id') %>">
Title: <input class="title" type="text" value="<%= task.get('title') %>"></input>
<br>
Description: <input class="description" type="text" value="<%= task.get('description') %>"></input>
<br>
  <% if (task.get("completed")) { %>
    <input class="completed" type="checkbox" checked>Completed?</input>
    Task completed at <%= task.get("completed_at") %>
  <% } else { %>
    <input class="completed" type="checkbox">Completed?</input>
    
  <% } %>
   

<% }; %>
</div>